/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .search-icon {
        position: absolute;
        width: 45px;
        right: 45px;
        top: 0;
        bottom: 0;
        background-color: #FF4A52;
    }

    .search-icon a {
        color: white !important;
    }

    .drop-down-menu {
        position: absolute;
        display: inline-block;
        width: 45px;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1EC6B6;
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }

    /* .header-menu {
        display: none;
    } */

    /* .header-menu li {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid #cecece;
    } */

}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    nav li {
        display: inline-block;
    }

    .drop-down-menu {
        display: none !important;
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;

    }

}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .search-icon {
        width: 100px;
    }

    .search-bar {
        flex-direction: row;
    }

    .search-form {
        flex-direction: row;
    }

    .newsletter-container {
        flex-direction: row;
        justify-content: center;
    }

    .mail-form {
        display: block;
    }

    .newsletter-text {
        margin-top: 0;
        margin-right: 10px;
    }
}